<!--<div class="page-header">
	<h1>Black Desert Multi-Tools</h1>
</div>
-->

<section id="show">
	<div class="gallery"></div>
	<!--<div id="captioned-gallery">
		<figure class="slider">
			<figure>
				<a href="/cooking"><img src="assets/img/home/cook.jpg" alt></a>
				<figcaption>COOKING</figcaption>
			</figure>
			<figure>
				<a href="/alchemy"><img src="assets/img/home/alchemy.jpg" alt></a>
				<figcaption>ALCHEMY</figcaption>
			</figure>
			<figure>
				<a href="/converter"><img src="assets/img/home/market.jpg" alt></a>
				<figcaption>MARKETPLACE NOTIFICATIONS</figcaption>
			</figure>
			<figure>
				<a href="/gathering"><img src="assets/img/home/GATHERING.jpg" alt></a>
				<figcaption>GATHERING</figcaption>
			</figure>
			<figure>
				<a href="/processing"><img src="assets/img/home/PROCESSING.jpg" alt></a>
				<figcaption>PROCESSING</figcaption>
			</figure>
		</figure>
	</div>-->
</section>
<br><hr class="style14"><br>

<section id="welcome" style="font-size:18px; text-align:center">
        <div>
			<p>
			 	<b>Black Desert Online</b> is a gorgeous and complete MMORPG, and its professions system is quite complex.</p>

			 	<p>During my cooking levelling phase, I often found myself having to do long and repetitive calculations, so I developed a simple web application to make it easier for me, and I shared it with you.</p>

			 	<p>	You were many to ask me the development of a web application for alchemy as well.
				So here I am as promised with the first web site dedicated to the different <b>Black Desert Online</b> calculations. 
				</p>
				<p>Also i developped many other useful tools (marketplace notificator, various converters...)</p>

				<p>The site is not limited to the tools currently available, others will be added over time.</p>
        </div>
    </section>

    <script>
            var data = {
                "main" : "https://vimeo.com/257002808",
                "videos" : [
                    { "url" : "https://vimeo.com/256996963" },
                    { "url" : "https://vimeo.com/257003391" },
                    { "url" : "https://vimeo.com/257003640" },
                    { "url" : "https://vimeo.com/257003899" }
                ]
            }
            
            Vimeo.init({
                container: $('.gallery')
            });
        </script>