<div class="page-header"><h1><img src="assets/img/cgu.png" title="Contact">&emsp;GENERAL CONDITIONS OF USE</h1></div>

<h3 class="h2">1. Subject </h3>
<p>The website "www.bdoteach.me" is a set of utilities for the Black Desert Online game, with a set of free services for the user (hereinafter referred to as "Free Services"), a subscription system (hereinafter referred to as "Subscription"). </p>

<p>The website offers, to any user having accepted the present general conditions of use, computational and data processing services related to the Black Desert Online game (hereinafter the "Calculators"). </p>

<p>The website also offers any user who has subscribed to the present conditions of use (hereinafter referred to as the "Member") the possibility of accessing optional services (hereinafter referred to in article 2/ 2) and in particular to integrate, through the creation of a personal profile. </p>

<p>The "User" ("Member" or "Non-Member") is defined as any person having access to the website, regardless of where they are located and how they connect to the website. </p>

<p>The User declares that he/she acknowledges that access to the services offered by the website is subject to the acceptance of these terms and conditions of use, which BDOTEACH reserves the right to modify at any time. The user is therefore advised to refer regularly to the latest version of the Terms of Use available permanently on the website. Changes will be notified on the website to registered members via the "Notification" system. </p>
<p></p>
<h3 class="h2">2. Description of website Services </h3>

<h4>2.1 A Free service of various online calculations to help with the black desert adventure.</h4>
<p>The website proposes the complete and unlimited use of all services for members with subscription (hereinafter referred to as "Premium"), and a limited use of free services for the user without subscription.(hereinafter referred to as "Free") </p>
<p>BDOTEACH only allows the use of the services only within the website, the use of the source code is strictly prohibited.</p>

<p>The User undertakes not to use any technical measures that would make it possible to circumvent the impossibility of using paid services with a free account.  </p>

<p>After a new member register to the website, a period of 7 days with unlimited access to BDOTEACH services is offered (equal to the access given to an  Premium user). This duration can be variable (generally 7 days) and can be modified at any time by BDOTEACH. </p>
<h4>2.1 B Subscription </h4>

<p>The Subscription gives access to all the services offered by the website, it is valid for 1 month with automatic renewal. </p>
<p>The subscription fee is $1.99 per month. </p>
<p>The registered user will no longer have to worry about the credit system. </p>
<p>The user will see his subscription renewed, under the same conditions, at the same rates, once a month. </p>
<p>It will be able to unsubscribe at any time in its user settings. </p>

<p>The subscription gives access to exclusive benefits: </p>
<ul>
<li>time calculator for the kitchen and alchemy professions </li>
<li>Converters of experience in contribution points and professions. </li>
<li>the service of notifications of the marketplace</li>
</ul>
<p>The subscription is individual and cannot be shared. A subscription shared by many people may result in the account being closed for abuse. </p>

<h4>2.2. Optional services available to Members </h4>
<h5>A. Registration for optional services </h5>
<p>Access to the various optional services described below requires the creation of a Member account using the form available online and provided for this purpose with the following information: </p>
<ul>
<li>valid email address </li>
<li>username </li>
<li>password </li>
</ul>
<p>The Member guarantees the accuracy of the information provided to BDOTEACH for the purposes of its registration and undertakes to notify BDOTEACH of any subsequent changes. </p>

<p>The password is personal and confidential, the member agrees not to communicate it. </p>
<p>BDOTEACH cannot be held responsible for the use of its personal account by others. </p>
<p>BDOTEACH will close accounts that do not comply with these terms of use and whose password has been shared. </p>

<p>Once the form has been duly completed, a confirmation e-mail will be sent by BDOTEACH to the Member's e-mail address as part of the registration form. </p>

<h5>B. Description of optional services </h5>
<p>The "profile" feature allows the Member to create a personal profile in order to benefit from the website's services. </p>
<p>The "settings" feature allows the Member to edit his subscription if he have one, change his email or change his password</p>
<p>The "professions" feature allows the Member to use the cooking and alchemy calculators</p>
<p>The "converters" features allows the Member to use a set of convenience converters</p>
<p>The "marketplace" features allow the member to get notified when the service detect a new marketplace registration notice in the opened window of Black Desert Online</p>
<p>BDOTEACH reserves the right to develop its services in particular by providing new functionalities or by modifying and/or deleting functionalities to date proposed to the User from the website. </p>
<p></p>
<h3 class="h2">3. Personal data </h3>
<p>The user agrees to collect and store the data provided when subscribing to the website. </p>
<p>Parental consent is required for the collection of this data for any user wishing to register on the website and who has not reached the age of majority. </p>
<p>The person or persons having parental authority therefore agrees to be the guarantor (s) of compliance with all the provisions of these general terms and conditions. </p>
<p></p>
<h3 class="h2">4 Terms of payment </h3>
<p>The payment of the subscription is made online on the Paypal portal of the BDOTEACH website.</p>

<p>A confirmation is displayed on the return of the Paypal page indicating the successful completion of the payment process </p>
<p>The accepted means of payment are: </p>
<ul><li>Paypal</li></ul> 
<p></p>
<h3 class="h2">5. Responsibilities </h3>

<p>BDOTEACH cannot be held responsible for technical problems, preventing the user from accessing the website. </p>
<p>We make every effort to provide service 7 days a week, 24 hours a day, but service interruptions may occur as a result of maintenance or emergency response to a breakdown. </p>

<p>BDOTEACH does not reimburse services that cannot be used due to technical configuration or connection problems. BDOTEACH reserves the right to arbitrate reimbursement in order to avoid abuse. </p>

<p>BDOTEACH cannot be held responsible for the dysfunction of the links present on the website and the contents of other websites to which the links, present on the website.</p>

<p>BDOTEACH cannot be held responsible for material or immaterial damages attributed to the use of the website and its services. </p>

<p>BDOTEACH declines all responsibility in case of loss or theft of data. </p>
<p></p>
<h3 class="h2">6. Cookies </h3>
<p>The user authorizes BDOTEACH to install cookies on its hard disk in order to enable identification of each connection and to provide it with the functionalities and services adapted to its use. </p>
<p></p>
<h3 class="h2">7. Termination of membership </h3>
<p>The Member may at any time unsubscribe from the website by contacting us via the contact form. </p>

<p>The Member's account will no longer be accessible when logging in and the e-mail address used cannot be reused for a new registration. </p>

<p>The complete unsubscription of the website will take effect within 30 days of the request.</p>