<div class="page-header"><h1><img src="assets/img/qa.png" title="Contact">&emsp;Questions and Answers</h1></div>

<h2>NOTIFICATIONS</h2>
<h3>How it works</h3>
<p>We use the <b>Onesignal</b> platforme for all our notifications,<br>
To receive notifications to all your devices, you have to login to bdoteach.me with your account in the saids devices (android/ios please install google chrome)</p>
<br><br>
<h2>SUBSCRIPTION</h2>
<h3>How it works</h3>
<p>By subscribing to our services,<br>
you will be able to access all the tools of our catalogue available by subscription!<br>
We accept Paypal accounts. </p>
</p>
<p>
<b>When you subscribe, you will have access to all the advanced features:</b>
<ul>
	<li>Marketplace notificator: you get notifed whenever a new item is put to the marketplace</li>
	<li>Time tool for cooking and alchemy: you get notified when your cooking/alchemizing session ends</li>
	<li>CP/Professions Exp Converters to impoorove your black desert adventure</li>
</ul>
</p>
<p>The subscription is done on a recurring basis.</p>
<p>You can deactivate your subscription at any time, there is no minimum commitment period!</p>
<br>
<h3>Is it possible to share my account with family and friends?</h3>
<p><b>Access to your subscriber account is limited within the same household and family.</b></p>

<p><b>For the moment, we do not allow account sharing between friends in order to cover our expenses (hosting, domain name, mailing service ...).</b></p>
<br>
<h3>How do I cancel my subscription? Is the subscription recurring?</h3>
<p><b>When subscribing to a subscription, a recurring payment without obligation is made,
it will be renewed on the anniversary date.</b></p>
<p><b>Cancellation of your subscription can be done at any time directly from your settings menu by clicking on "Manage your subscription":</b></p>
<img src="assets/img/subs.png" width="70%" height="auto">
<br><br>
<h2>CREDITS SYSTEM</h2>
<h3>Whats is it</h3>
<p>The credit system is desined for <b>Free members only,</b><br>
It is a currency used only in <b>bdoteach.me</b>, it allows free members to use the various free tools offered by the website</p>
<br>
<h3>How to obtain credits </h3>
<p>You have nothing to do, just use the website frequently you will earn them</p>
<br><br>
<h2>FREE ACCOUNTS</h2>
<h3>How it works</h3>
<p>As a free member, you are able to access all the <b>free</b> tools available using <b>credits</b> earned while using the website<br>
Each tool have a price in <b>credits</b>, if your Credit balance is enough for the tool you can use it, else you have to wait to get the sufficient amount
</p>