<div class="page-header">
  <h1>reset password</h1>
</div>

<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel title ng-scope">
      <form class="register-form" name="regForm" ng-submit="reset.savePassword(regData,regForm.$valid, confirmed)" novalidate ng-hide="reset.hide">



        <div class="row margin">
          <div class="input-field col s12" ng-class="{'has-success': (regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) ,'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted)}">
            <i class="mdi-action-lock-outline prefix"></i>
            <label for="firstPassword"></label>

            <input ng-disable="reset.disabled"  id="password" type="password" name="firstPassword" class="input-lg form-control m-b-5 ng-touched" placeholder="Your password" ng-model="firstPassword" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,35}$/" ng-minlength="8" ng-maxlength="35" required>

            <small class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">This field is required</small>

            <small><ul class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern)|| (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)">
              <li>Must contain between 8 and 35 characters</li>
              <li>Must contain at least one uper case letter, one lower case letter, one special character and one number</li>
            </ul></small>
          </div>
        </div>



        <div class="row margin">
          <div class="input-field col s12" ng-class="{'has-success': confirmed && !regForm.confirm_password.$error.required ,'has-error': (!confirmed && !regForm.confirm_password.$error.required) || (regForm.confirm_password.$error.required && !regForm.confirm_password.$pristine) || (regForm.confirm_password.$error.required && regForm.$submitted)}">
            <i class="mdi-action-lock-outline prefix"></i>
            <label for="confirm_password" ></label>


            <input ng-disable="reset.disabled"  id="confirm_password" name="confirm_password" type="password" class="input-lg form-control m-b-5 ng-touched"  placeholder="Confirm your password" ng-model="confirm" required match="{{[firstPassword]}}" ng-change="reset.regData.password = confirm">


            <small class="help-block" ng-show="(!regForm.confirm_password.$pristine && regForm.confirm_password.$error.required) || (regForm.$submitted && regForm.confirm_password.$error.required)">
              This field is required
            </small>

            <small ng-show="(!confirmed && !regForm.confirm_password.$pristine && regForm.firstPassword.$valid)" class="help-block">
              Passwords do not match
            </small>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <label for="submit" ></label>
            <button ng-disable="reset.disabled" id="submit" type="submit" class="form-control" style="white-space:normal !important;word-wrap:break-word;height:auto"><span ng-hide="reset.loading" class="ng-scope">Reset password</span><span ng-show="reset.loading" class="ng-hide"><i class="fa fa-spinner fa-spin"></i></span></button>
          </div>
        </div>
      </form>
    </div>

  </div>
  <br><br>
  <div class="row" style="padding: 0 30px 10px;">
    <div class="show-hide-message" ng-show="reset.success_msg && !reset.err_msg">
        <div class="text-info ng-binding">{{ reset.success_msg }}</div>
      </div>
      <div class="show-hide-message" ng-show="reset.err_msg && !reset.success_msg">
        <div class="text-danger ng-binding">{{ reset.err_msg }}</div>
      </div>

  </div>
    