<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel title ng-scope">
      <form class="register-form" ng-submit="resend.checkCredentials(loginData);">
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            
            <label for="username" class="center-align"></label>
            <input  ng-disabled="resend.disabled" id="username" type="text" name="username" class="input-lg form-control m-b-5 ng-valid ng-dirty ng-valid-parse ng-touched" placeholder="Type in your username" ng-model="resend.loginData.username">
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <label for="password"></label>
            <input ng-disabled="resend.disabled" id="password" type="password" name="password" class="input-lg form-control m-b-5 ng-valid ng-dirty ng-valid-parse ng-touched" placeholder="And Your password" ng-model="resend.loginData.password">
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
          	<label for="submit" ></label>
            <button id="submit" type="submit" class="form-control" ng-disabled="resend.disabled" style="white-space:normal !important;word-wrap:break-word;height:auto"><span ng-hide="resend.loading" class="ng-scope">Rensend</span><span ng-show="resend.loading" class="ng-hide"><i class="fa fa-spinner fa-spin"></i></span></button>
          </div>
        </div>
      </form>

    </div>
  </div>
  <br><br>

  <div class="row" style="padding: 0 30px 10px; ">
    <div class="show-hide-message" ng-show="resend.success_msg">
        <div class="text-info ng-binding">{{ resend.success_msg }}</div>
    </div>
    <div class="show-hide-message col s6" ng-show="resend.err_msg">
        <div class="text-danger ng-binding col">
          <pre>{{ resend.err_msg }}</pre>
        </div>
    </div>
        
        
    </div>

  </div>
    
